/* =============================================== */
/* General
/* =============================================== */

a:link img, 
a:visited img, 
a:hover img, 
a:active img, 
a:focus img,
button.ui-dialog-titlebar-close { border: 0; outline:none; text-decoration:none; }

/*font*/
.shortmas-flat-tabs .ui-tabs-nav,
.shortmas-flat-tabs .ui-tabs-panel.ui-widget-content h1,
.shortmas-flat-tabs .ui-tabs-panel.ui-widget-content h2,
.shortmas-flat-tabs .ui-tabs-panel.ui-widget-content h3,
.shortmas-flat-tabs .ui-tabs-panel.ui-widget-content h4,
.shortmas-flat-tabs .ui-tabs-panel.ui-widget-content h5,
.shortmas-flat-tabs .ui-tabs-panel.ui-widget-content h6,
.shortmas-flat-accordion .ui-accordion-header,
.shortmas-flat-dialog.ui-dialog .ui-dialog-titlebar,
.shortmas-flat-box-title,
.shortmas-flat-image-frame .shortmas-flat-caption,
.smmb-text { font-family: 'Raleway', sans-serif; font-weight: 300; }


/* =============================================== */
/* Flat tabs
/* =============================================== */

.shortmas-flat-tabs.ui-tabs { margin-bottom: 2em !important; clear: both; }
.shortmas-flat-tabs,
.shortmas-flat-tabs .ui-tabs-nav,
.shortmas-flat-tabs .ui-tabs-nav li { border-radius: 0px !important; border: none !important; margin: 0px !important; padding: 0 0 0 0 !important; font-size: 15px; }
.shortmas-flat-tabs .ui-tabs-nav { background-color: transparent !important; }
.shortmas-flat-tabs .ui-tabs-nav li a { border: none !important; }
.shortmas-flat-tabs .ui-tabs-nav,
.shortmas-flat-tabs.ui-tabs { padding: 0 0 0 0 !important; }
.shortmas-flat-tabs .ui-tabs-panel.ui-widget-content { border-radius: none !important; border-bottom-right-radius: 0px !important; border-bottom-left-radius: 0px !important; font-size: 13px; line-height: 20px; }
/*nav on bottom*/
.shortmas-flat-tabs.tabs-bottom .ui-tabs-nav { clear: left; padding: 0 .2em 0em .2em; background-color: transparent !important; }
.shortmas-flat-tabs.tabs-bottom .ui-tabs-nav li { top: auto; bottom: 0; margin: 0 0 0px 0; border-bottom: auto; border-top: 0; }
.shortmas-flat-tabs.tabs-bottom .ui-tabs-nav li.ui-tabs-active { margin-top: 0px; padding-top: 0px; }
.shortmas-flat-tabs.tabs-bottom.ui-tabs .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0px; }

/*nav on left*/
.shortmas-flat-tabs.ui-tabs-vertical { width: 100% !important; }
.shortmas-flat-tabs.ui-tabs-vertical .ui-tabs-nav { padding: 0 0 0 0 !important; float: left; width: 25% !important; background-color: transparent !important; }
.shortmas-flat-tabs.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0 !important; }
.shortmas-flat-tabs.ui-tabs-vertical .ui-tabs-nav li a { display:block; }
.shortmas-flat-tabs.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; border-right-width: 1px; }
.shortmas-flat-tabs.ui-tabs-vertical .ui-tabs-panel { padding: 1em 0% !important; float: right; width: 75% !important; }
.shortmas-flat-tabs.ui-tabs-vertical .ui-tabs-panel .sm-tabs-wrap-content { padding-left: 3%; padding-right: 3%; }
.nototo-i-to-to {}
.shortmas-flat-tabs.ui-widget-content {
border: none !important;
background: none !important;
}
.shortmas-flat-tabs.ui-tabs h2,
.shortmas-flat-tabs.ui-tabs h3,
.shortmas-flat-tabs.ui-tabs h4,
.shortmas-flat-tabs.ui-tabs h5,
.shortmas-flat-tabs.ui-tabs h6 { color: #ffffff; }

/* =============================================== */
/* Flat accordion
/* =============================================== */

.shortmas-flat-accordion { margin-bottom: 2em !important; }
.shortmas-flat-accordion .ui-accordion-header,
.shortmas-flat-accordion .ui-accordion-content { border-radius: 0px !important; border: none !important; }

.shortmas-flat-accordion .ui-accordion-header { height: 40px !important; line-height: 40px !important; font-size: 16px; padding-top: 0px !important; padding-bottom: 0px !important; }
.shortmas-flat-accordion .ui-state-default .ui-accordion-header-icon { background: none; line-height: 19px !important; height: 19px !important; }
.shortmas-flat-accordion .ui-state-default .ui-accordion-header-icon.ui-icon:before { background: none; font-family: 'fontAwesome'; content: "\f067"; display: block; font-size: 16px; text-indent: 0px !important; }
.shortmas-flat-accordion .ui-state-active .ui-accordion-header-icon.ui-icon:before { background: none; font-family: 'fontAwesome'; content: "\f068"; display: block; font-size: 16px; text-indent: 0px !important; }
.shortmas-flat-accordion .ui-accordion-content { font-size: 12px; line-height: 18px; }

/* =============================================== */
/* Flat dialog window
/* =============================================== */

.shortmas-flat-dialog.ui-dialog { padding: 0 0 0 0; border-radius: 0px; border: none; }
.shortmas-flat-dialog.ui-dialog .ui-dialog-titlebar { border: none; border-radius: 0px; font-size: 18px; }
.shortmas-flat-dialog.ui-dialog .ui-dialog-content { color: #fff; font-size: 13px; }
.shortmas-flat-dialog.ui-dialog .ui-dialog-titlebar-close .ui-icon-closethick,
.shortmas-flat-dialog.ui-dialog .ui-dialog-titlebar-close .ui-button-text { display: none; }
.shortmas-flat-dialog.ui-dialog button.ui-dialog-titlebar-close { background: none; background-color: transparent; border: none; right: 10px !important; top: 16px !important; }
.shortmas-flat-dialog.ui-dialog button.ui-dialog-titlebar-close:before { font-family: 'fontAwesome'; content: "\f00d"; color: #fff; }

.shortmas-flat-bubble:after                { -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; border-color: transparent transparent; border-image: none; border-style: solid; border-width: 0 10px 15px 0; bottom: -15px; content: ""; display: block; left: 80px; position: absolute; width: 0; }
.shortmas-flat-bubble:before               { -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; border-image: none; border-style: solid; border-width: 0 15px 15px 0; bottom: -15px; content: ""; display: block; left: 40px; position: absolute; width: 0; }
.shortmas-flat-bubble,
.shortmas-flat-box                         { position: relative; color: #FFFFFF; margin: 1em 0 3em; padding: 0; }
.shortmas-flat-bubble p,
.shortmas-flat-box p                       { position: relative; margin-left: 65px; padding: 20px 30px 20px 30px !important; }
/*close*/
.shortmas-flat-bubble .shortmas-close-box,
.shortmas-flat-box .shortmas-close-box     { position: absolute; display: block; top: 5px; right: 10px; font-size: 16px !important; color: #fff; cursor: pointer; }
/*title*/
.shortmas-flat-box-title { display: block; font-size: 22px; margin-bottom: 10px; }
.shortmas-flat-dialog .ui-dialog-title { margin-left: -8px !important; }
/*box with icon*/
.shortmas-flat-bubble .shortmas-flat-box-icon,
.shortmas-flat-box .shortmas-flat-box-icon { position: absolute; top: 20px; left: 25px; font-size: 50px; line-height: 50px; color: #fff; }
/*image on the left*/
img.shortmas-flat-box-image                      { float: left; margin-right: 20px; }

/* =============================================== */
/* Flat frame
/* =============================================== */

.shortmas-flat-image-frame { position: relative; display: block; margin-bottom: 2em; background-color: #5D9CEC; width: 100%; max-width: 100%; }
.shortmas-flat-image-frame .shortmas-flat-box-image { display: block; width: 100%; max-width: 100%; }
.shortmas-flat-image-frame .shortmas-flat-caption { color: #ffffff; font-size: 13px; padding-top:10px; }
.shortmas-is-lightbox img { position: relative; display: block; max-width: 100%; }
.sm-flat-close { position: absolute; top: 0px; right: 0px; width: 30px; height: 30px; line-height: 30px; background: #434A54; text-align: center; cursor: pointer; z-index: 12000; }
.sm-flat-close:before {font-family: 'fontAwesome'; content: "\f00d"; color: #fff; font-size: 20px; font-weight: lighter; }
.shortmas-flat-box-image+.sm-flat-close { right: 20px; }
.shortmas-flat-overlay { position: absolute; width: 50px; height: 50px; top: 9px; right: 8px; background-color: #5D9CEC; color: #ffffff; text-align: center; line-height: 50px; font-size: 30px; opacity: 1; cursor: pointer; }
#sm-generator-preview .shortmas-flat-image-frame { width: 96% !important; }
.lb_overlay.js_lb_overlay { z-index: 10001 !important; }
.shortmas-flat-lightbox { position: relative; z-index: 10002 !important; }

/* =============================================== */
/* Flat buttons
/* =============================================== */

/* Animations
================================================== */
@keyframes rotate
{
    90%  {
    opacity: 0;
    transform:scale(3.0) rotate(360deg);
    -ms-transform:scale(3.0) rotate(360deg); /* IE 9 */
    -moz-transform:scale(3.0) rotate(360deg); /* Firefox */
    -webkit-transform:scale(3.0) rotate(360deg); /* Safari and Chrome */
    -o-transform:scale(3.0) rotate(360deg); /* Opera */
    }
    100% {
    opacity: 1;
    transform:scale(1) rotate(360deg);
    -ms-transform:scale(1) rotate(360deg); /* IE 9 */
    -moz-transform:scale(1) rotate(360deg); /* Firefox */
    -webkit-transform:scale(1) rotate(360deg); /* Safari and Chrome */
    -o-transform:scale(1) rotate(360deg); /* Opera */
    }
}

@-webkit-keyframes rotate
{
    90%  {
    opacity: 0;
    transform:scale(3.0) rotate(360deg);
    -ms-transform:scale(3.0) rotate(360deg); /* IE 9 */
    -moz-transform:scale(3.0) rotate(360deg); /* Firefox */
    -webkit-transform:scale(3.0) rotate(360deg); /* Safari and Chrome */
    -o-transform:scale(3.0) rotate(360deg); /* Opera */
    }
    100% {
    opacity: 1;
    transform:scale(1) rotate(360deg);
    -ms-transform:scale(1) rotate(360deg); /* IE 9 */
    -moz-transform:scale(1) rotate(360deg); /* Firefox */
    -webkit-transform:scale(1) rotate(360deg); /* Safari and Chrome */
    -o-transform:scale(1) rotate(360deg); /* Opera */
    }
}

a.shortmas-flat-button:hover span [class^="fa-"] { 
animation: rotate 0.6s;
-webkit-animation: rotate 0.6s; /* Safari and Chrome */
}

a.smmb-wrap:hover span.smmb-icon.smmb-animation-yes i.fa { 
animation: rotate 0.6s;
-webkit-animation: rotate 0.6s; /* Safari and Chrome */
}

a.smmb-wrap { position: relative; display: inline-block; margin: 0.2em 0.1em; background-color: #434A54; color: #F5F7FA; text-align: center; border: none; text-decoration: none; }
.smmb-text { float: right; }
.smmb-icon { float: left; overflow: hidden; }

.smmb-small { font-size: 12px; height: 20px; line-height: 20px; }
.smmb-small .smmb-text,
.smmb-small .smmb-icon { padding-left: 6px; padding-right: 6px; }

.smmb-medium { font-size: 16px; height: 26px; line-height: 26px; }
.smmb-medium .smmb-text,
.smmb-medium .smmb-icon { padding-left: 9px; padding-right: 9px; }

.smmb-big { font-size: 20px; height: 32px; line-height: 32px; }
.smmb-big .smmb-text,
.smmb-big .smmb-icon { padding-left: 12px; padding-right: 12px; }

.smmb-giant { font-size: 24px; height: 46px; line-height: 46px; }
.smmb-giant .smmb-text,
.smmb-giant .smmb-icon { padding-left: 12px; padding-right: 12px; }

.smmb-align-none { float: none; }
a.smmb-wrap.smmb-align-left { float: left; margin: 0.1em 0.5em 0.2em 0; display: block; }
a.smmb-wrap.smmb-align-right { float: right; margin: 0.1em 0.5em 0.2em 0.5em; display: block; }
a.smmb-wrap.smmb-align-center { float: none; margin: 0.1em auto !important; display: inline-block; }
.smmb-align-center-wrapper { float: none; margin: 1em auto; display: block; text-align: center; width: 100%; clear: both; }



